<div>
	
	<img ng-src="{{user.picURL  }}" class="face imgCenter">
	
	<div class="center">
				<h3>{{ user.fname }} {{ user.lname }}</h3>
				<p>{{ user.email }}</p>
				
				<!--button-->
				<button class="md-button" ng-click="go()">Back</button>

</div>

<div ng-controller="PageTwoCtrl" layout="column">
  <md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
    <md-input-container>
      <label>First name</label>
      <input ng-model="user.fname">
    </md-input-container>
    <md-input-container>
      <label>Email</label>
      <input ng-model="user.email" type="email">
    </md-input-container>
  </md-content>
	</div>