.lt-game-background {
  width: 80%;
  margin: 2rem auto;
}

div[ng-view].ng-scope {
  height: 100% !important;
}

.lt-body-zone {
  height: 50rem;
}

.lt-picture {
  width: 100%;
  height: 100%;
}

.lt-wrong-pics {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.lt-canvas-container {
  overflow: overlay;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 3rem;
  z-index: 10;
  padding-bottom: 1rem;
}

.lt-input-container {
  width: 100%;
  height: 2em;
  background-color: gray;
}

.lt-type-box {
  height: 100%;
  padding: 1rem;
}

.lt-microphone-container {
  background-color: yellow;
  height: 100%;
  width: 4rem;
}

.lt-choices {
  margin: auto;
  max-width: 20rem;
  max-height: 15rem;
  width: 8rem;
  height: auto;
  padding: 3px;
  border: 2px solid transparent;
}

.lt-microphone-icon {
  width: 100%;
  height: 100%;
}

/* Push: when clicked correct answer */
@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3EC7C8;
  color: white;
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active,
.hvr-push {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  background-color: #3EC7C8;
  color: white;

}

.lb-question-text-hilighted-wrong {
  color: red;
}

/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  color: red;
}

.hvr-wobble-horizontal:hover,
.hvr-wobble-horizontal:focus,
.hvr-wobble-horizontal:active,
.hvr-wobble-horizontal {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color: red;
}

.lb-answer-mark-wrong-hidden {
  color: red;
  position: absolute;
  bottom: 5%;
  right: 3%;
  font-size: 0rem;
  -webkit-transition: font-size 0.5s; /* For Safari 3.1 to 6.0 */
  transition: font-size 0.5s;
}

.lb-answer-mark-wrong {
  color: red;
  position: absolute;
  bottom: 5%;
  right: 3%;
  font-size: 5rem !important;
  -webkit-transition: font-size 0.1s; /* For Safari 3.1 to 6.0 */
  transition: font-size 0.1s;
}

.lt-correct-choice {
  border: 2px solid #3EC7C8;
  -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
  transition: 0.5s;
}

.lt-wrong-choice {
  border: 2px solid red;
  -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
  transition: 0.5s;
}

.lt-question-string {
  font-size: 100%;
  color: black;
  text-align: center;
}

canvas {
  width: 80%;
  height: 120px;
  background-color: transparent;
}

.lt-sound-canvas {
  background-color: white;
  width: 100%;
}

.lb-button-active:active {
  background-color: rgba(158,158,158,0.2) !important;
}

.lb-replay-button {
  color: #239cad;
  height: 3rem;
  line-height: 3rem;
  width: 50%;
  text-align: center;
  border-radius: 5%;
}

.lb-replay-button:active,
.lb-replay-button:hover {
  background-color: rgba(158,158,158,0.2) !important;
}

.lt-template {
  width: 100%;
  height: 100%;
}

.header {
  z-index: 30;
  height: 5rem;
  line-height: 5rem;
  width: 100%;
  background-color: #a9b7c0;
  padding: 1.5rem;
  color: #2E2D2D;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
}

.body {
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: #efd9c1;
  font-family: 'Rubik', sans-serif;
}

.container {
  width: 100% !important;
  height: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  overflow: auto;
}

.ng-scope:not(.header .body){
  width: 100% !important;
  height: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
}
