.lt-map .lt-picture {
  width: 40rem;
  height: 30rem;
  margin: auto;
  position: relative;
  background-image: url(../../images/game/map-bg.jpg);
  background-size: contain;
}

.lt-map .lt-choices {
  position: absolute;
  margin: auto;
  max-width: 7rem;
  max-height: 7rem;
  width: auto;
  height: auto;
  padding: 3px;
  border: 2px solid transparent;
}

.lt-map .lt-absolute-horizontally-center {
  left: 0;
  right: 0;
}

.lt-map .lt-absolute-vertically-center {
  top: 0;
  bottom: 0;
}