<div class="lt-map
             lb-main-panel
             lb-template-003
             lt-template
             lb-flex-column
             lb-justify-start">
  <md-toolbar class="md-whiteframe-z2
                     header
                     lb-flex-0">
  Andersen Group</md-toolbar>
  <div class="body
              lb-flex-column
              lb-flex-0">
    <div class="lt-game-background
                lb-flex-0
                lb-flex-column
                lb-align-center">
      <div class="lt-canvas-container
                  lb-flex-0
                  lb-flex-column">
        <div class="lt-question-string
                    lb-flex-0"
             ng-bind="questionString">
        </div>
        <div class="lt-picture
                    lb-flex-0">
          <img src="../../images/game/cinema.jpg"
               class="lt-choices"
               style="left:1rem;top:1rem;"
               id="btnCinema">
          <img src="../../images/game/hospital.jpg"
               class="lt-choices"
               style="right:1rem;top:1rem;"
               id="btnHospital">
          <img src="../../images/game/airport.jpg"
               class="lt-choices"
               style="right:1rem;bottom:1rem;"
               id="btnAirport">
          <img src="../../images/game/library.jpg"
               class="lt-choices"
               style="left:1rem;bottom:1rem;"
               id="btnLibrary">
          <img src="../../images/game/police.jpg"
               class="lt-choices
                      lt-absolute-horizontally-center"
               style="bottom:1rem;"
               id="btnPolice">
          <img src="../../images/game/bank.jpg"
               class="lt-choices
                      lt-absolute-vertically-center"
               style="left:1rem;"
               id="btnBank">
          <img src="../../images/game/firehouse.jpg"
               class="lt-choices
                      lt-absolute-vertically-center"
               style="right:1rem;"
               id="btnFirehouse">
          <img src="../../images/game/bakery.jpg"
               class="lt-choices"
               style="top:6rem;left:12rem;"
               id="btnBakery">
          <img src="../../images/game/restaurant.jpg"
               class="lt-choices"
               style="top:7.5rem;left:20rem;"
               id="btnRestaurant">
        </div>
      </div>
      <div class="lt-sound-canvas
                  lb-flex-column
                  lb-align-center
                  lb-small-space
                  lb-flex-0">
        <canvas id="analyser_render"></canvas>
        <audio id="myAudio"
           controls
           autoplay
           preload="auto"
           style="visibility: hidden; height: 0;"
           class="lb-flex-row
                  lb-align-center
                  lb-justify-center
                  lb-flex-0">
          <source id="myAudioSource" src="" type="audio/mp3">
        </audio>
        <md-button ng-click="aud_play()"
                   class="lb-replay-button
                          lb-button-active"
                   ng-bind="btnReplay"></md-button>
      </div>
    </div>
  </div>
</div>