<body class="lb-main-panel
             lb-template-003
             lt-template
             lb-flex-column
             lb-justify-start">
  <md-toolbar class="md-whiteframe-z2
                     header
                     lb-flex-0">
  Andersen Group</md-toolbar>
  <div class="body
              lb-flex-column
              lb-flex-0">
    <div class="lt-game-background
                lb-flex-column
                lb-align-center">
      <div class="lt-canvas-container
                  lb-flex-0
                  lb-flex-column">
        <div class="lt-question-string
                    lb-flex-0"
             ng-bind="questionString">
        </div>
        <div class="lt-picture
                    lb-flex-row
                    lb-small-space
                    lb-flex-0
                    lb-flex-wrap
                    lb-justify-around"
             ng-init="initWord()">
          <img ng-repeat="choice in choices"
               src="../../images/game/{{choice.picture}}"
               is-correct="{{choice.isCorrect}}"
               class="lt-choices">
        </div>
      </div>
      <div class="lt-sound-canvas
                  lb-flex-column
                  lb-align-center
                  lb-small-space
                  lb-flex-0">
        <canvas id="analyser_render"></canvas>
        <audio id="myAudio"
           controls
           autoplay
           preload="auto"
           style="visibility: hidden; height: 0;"
           class="lb-flex-row
                  lb-align-center
                  lb-justify-center
                  lb-flex-0">
          <source id="myAudioSource" src="" type="audio/mp3">
        </audio>
        <md-button ng-click="aud_play()"
                   class="lb-replay-button
                          lb-button-active"
                   ng-bind="btnReplay"></md-button>
      </div>
    </div>
  <div>
</body>