@font-face {
    font-family: THAISANSLITE;
    src: url('../../fonts/thaisanslite_r1.eot');
    src: url('../../fonts/thaisanslite_r1.eot?#iefix') format('embedded-opentype'),
        url(../../fonts/thaisanslite_r1.ttf) format('truetype');
    /*src: url('../../fonts/thaisansneue-light-webfont.eot');
    src: url('../../fonts/thaisansneue-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/thaisansneue-light-webfont.woff') format('woff'),
		 url('../../fonts/thaisansneue-light-webfont.ttf') format('truetype'),
		 url('../../fonts/thaisansneue-light-webfont.svg#thaisans_neue_lightregular') format('svg');
    font-weight: normal;font-style: normal;*/
}