

.lb-icon {
    background-size: 1em 1em;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 4rem;
    width: 4rem;
}

    .lb-icon.lb-fit-area {
        height : 1em;
        width : 1em;
    }

.lb-giant-icon{
    font-size: 5rem;
    height : 1em;
    width : 1em;
}

.lb-large-icon{
    font-size: 4rem;
}

.lb-medium-icon{
    font-size: 2.5rem;
}

.lb-small-icon{
    font-size: 1.5rem;
}

.lb-tiny-icon{
    font-size: 1rem;
}

.lb-left-icon{
    background-image: url('../../images/icons/left-icon.png');
}

.lb-left-icon-2{
    background-image: url('../../images/icons/left-icon-2.png');
}

.lb-left-icon-3{
    background-image: url('../../images/icons/left-icon-3.png');
}

.lb-left-icon-4{
    background-image: url('../../images/icons/left-icon-4.png');
}

.lb-home-icon{
    background-image: url('../../images/icons/home-icon.png');
}

.lb-shopping-cart-icon-3{
    background-image: url('../../images/icons/shopping-cart-3.png');
}

.lb-toc-icon{
    background-image: url('../../images/icons/toc-icon.png');
}

.lb-library-icon{
    background-image: url('../../images/icons/library-icon.png');
}

.lb-profile-icon{
    background-image: url('../../images/icons/profile-icon.png');
}

.lb-profile-icon-3{
    background-image: url('../../images/icons/profile-icon-3.png');
}

.lb-logout-icon{
    background-image: url('../../images/icons/logout-icon.png');
}

.lb-app-icon{
    background-image: url('../../images/app-icon.png');
}

.lb-man-icon-2{
    background-image: url('../../images/icons/man-icon-2.png');
}

.lb-woman-icon-2{
    background-image: url('../../images/icons/woman-icon-2.png');
}

.lb-facebook-icon{
    background-image: url('../../images/icons/facebook-icon.png');
}

.lb-increament-icon{
    background-image: url('../../images/icons/increament-icon.png');
}

.lb-decreament-icon{
    background-image: url('../../images/icons/decreament-icon.png');
}

.lb-student-icon-2{
    background-image: url('../../images/icons/student-icon-2.png');
}

.lb-teacher-icon-2{
    background-image: url('../../images/icons/teacher-icon-2.png');
}

.lb-email-icon{
    background-image: url('../../images/icons/email-icon.png');
}

.lb-telephone-icon{
    background-image: url('../../images/icons/telephone-icon.png');
}

.lb-education-icon{
    background-image: url('../../images/icons/education-icon.png');
}

.lb-gender-icon{
    background-image: url('../../images/icons/gender-icon.png');
}

.lb-change-language-icon{
    background-image: url('../../images/icons/change-language-icon.png');
}

.lb-birth-date-icon{
    background-image: url('../../images/icons/birth-date-icon.png');
}

.lb-quote-icon{
    background-image: url('../../images/icons/quote-icon.png');
}

.lb-goal-icon{
    background-image: url('../../images/icons/goal-icon.png');
}

.lb-sport-icon{
    background-image: url('../../images/icons/sport-icon.png');
}

.lb-idea-icon{
    background-image: url('../../images/icons/idea-icon.png');
}

.lb-hobby-icon{
    background-image: url('../../images/icons/hobby-icon.png');
}

.lb-pause-icon{
    background-image: url('../../images/icons/pause-icon.png');
}

.lb-pause-icon-2{
    background-image: url('../../images/icons/pause-icon-2.png');
}

.lb-stop-icon{
    background-image: url('../../images/icons/stop-icon.png');
}

.lb-right-icon{
    background-image: url('../../images/icons/right-icon.png');
}

.lb-right-icon-2 {
    background-image: url('../../images/icons/right-icon-2.png');
}

.lb-correct-icon{
    background-image: url('../../images/icons/correct-icon.png');
}

.lb-correct-icon-white{
    background-image: url('../../images/icons/correct-icon-2.png');
}

.lb-incorrect-icon{
    background-image: url('../../images/icons/incorrect-icon.png');
}

.lb-not-answer-icon{
    background-image: url('../../images/icons/not-answer-icon.png');
}

.lb-time-icon{
    background-image: url('../../images/icons/time-icon.png');
}

.lb-like-icon{
    background-image: url('../../images/icons/like-icon.png');
}

    .lb-like-icon.lb-active{
        background-image: url('../../images/icons/like-active-icon.png');
    }

.lb-like-icon-2{
    background-image: url('../../images/icons/like-icon-2.png');
}

    .lb-like-icon-2.lb-active{
        background-image: url('../../images/icons/like-active-icon-2.png');
    }

.lb-comment-icon{
    background-image: url('../../images/icons/comment-icon.png');
}

.lb-star-full-icon{
    background-image: url('../../images/icons/star-full-icon.png');
}

.lb-star-empty-icon{
    background-image: url('../../images/icons/star-empty-icon.png');
}

.lb-time-icon-2{
    background-image: url('../../images/icons/time-icon-2.png');
}

.lb-down-icon{
    background-image: url('../../images/icons/down-icon.png');
}

.lb-down-icon-2{
    background-image: url('../../images/icons/down-icon-2.png');
}

.lb-up-icon{
    background-image: url('../../images/icons/up-icon.png');
}

.lb-up-icon-2{
    background-image: url('../../images/icons/up-icon-2.png');
}

.lb-pin-icon{
    background-image: url('../../images/icons/pin-icon.png');
}

    .lb-active .lb-pin-icon{
        background-image: url('../../images/icons/pin-icon-2.png');
    }

.lb-bookmark-icon{
    background-image: url('../../images/icons/bookmark-icon.png');
}

.lb-bookmark-icon-2{
    background-image: url('../../images/icons/bookmark-icon-2.png');
}

.lb-bookmark-icon-3{
    background-image: url('../../images/icons/bookmark-icon-3.png');
}

    .lb-bookmark-icon.lb-active,
    .lb-bookmark-icon-2.lb-active{
        background-image: url('../../images/icons/bookmark-active-icon.png');
    }

.lb-bookmark-icon-4 {
    background-image: url('../../images/icons/bookmark-icon-4.png');
}

    .lb-bookmark-icon-4.lb-active {
        background-image: url('../../images/icons/bookmark-icon-5.png');
    }

.lb-question-icon{
    background-image: url('../../images/icons/question-icon.png');
}

    .lb-active .lb-question-icon{
        background-image: url('../../images/icons/question-icon-2.png');
    }

.lb-tip-icon{
    background-image: url('../../images/icons/tip-icon.png');
}

    .lb-active .lb-tip-icon{
        background-image: url('../../images/icons/tip-icon-2.png');
    }

.lb-lesson-icon{
    background-image: url('../../images/icons/lesson-icon.png');
}

    .lb-active .lb-lesson-icon{
        background-image: url('../../images/icons/lesson-icon-2.png');
    }

.lb-answer-sheet-icon{
    background-image: url('../../images/icons/answer-sheet-icon.png');
}

.lb-unselected-icon{
    background-image: url('../../images/icons/unselected-icon.png');
}

    .lb-active .lb-unselected-icon,
    .lb-unselected-icon.lb-active,
    .lb-selected-icon{
        background-image: url('../../images/icons/selected-icon.png');
    }

.lb-shopping-cart-icon-2{
    background-image: url('../../images/icons/shopping-cart-2.png');
}

.lb-save-icon{
    background-image: url('../../images/icons/save-icon.png');
}

.lb-toc-icon{
    background-image: url('../../images/icons/toc-icon.png');
}

.lb-toc-icon-2{
    background-image: url('../../images/icons/toc-icon-2.png');
}

.lb-toc-icon-3{
    background-image: url('../../images/icons/toc-icon-3.png');
}

.lb-calendar-icon{
    background-image: url('../../images/icons/calendar-icon.png');
}

.lb-clock-icon{
    background-image: url('../../images/icons/clock-icon.png');
}

.lb-add-gray-icon{
    background-image: url('../../images/icons/add-gray.png');
}

.lb-font-icon{
    background-image: url('../../images/icons/font-icon.png');
}

.lb-image-icon{
    background-image: url('../../images/icons/image-icon.png');
}

.lb-video-icon{
    background-image: url('../../images/icons/video-icon.png');
}

.lb-close-icon{
    background-image: url('../../images/icons/close-icon.png');
}

.lb-close-icon-2{
    background-image: url('../../images/icons/close-icon-2.png');
}

.lb-edit-icon-2{
    background-image: url('../../images/icons/edit-icon-2.png');
}

.lb-more-icon{
    background-image: url('../../images/icons/more-icon.png');
}

.lb-add-icon{
    background-image: url('../../images/icons/add-icon.png');
}

 .lb-certificate-icon{
    background-image: url('../../images/icons/certificate-icon.png');
}

/* brand icon */

.lb-facebook-color-icon{
    background-image: url('../../images/icons/facebook-color-icon.png');
}

.lb-google-plus-color-icon{
    background-image: url('../../images/icons/google-plus-color-icon.png');
}

.lb-line-color-icon{
    background-image: url('../../images/icons/line-color-icon.png');
}

.lb-mail-color-icon{
    background-image: url('../../images/icons/mail-color-icon.png');
}

.lb-twitter-color-icon{
    background-image: url('../../images/icons/twitter-color-icon.png');
}

.lb-youtube-color-icon{
    background-image: url('../../images/icons/youtube-color-icon.png');
}

.lb-graph-black-icon{
    background-image: url('../../images/icons/analytics-icon.png');
}

.lb-graph-white-icon{
    background-image: url('../../images/icons/analytics-icon-2.png');
}

.lb-note-icon {
    background-image: url('../../images/icons/note-icon-2.png');
}

.lb-font-icon-2 {
    background-image: url('../../images/icons/font-icon-2.png');
}

.lb-improve-weakness-icon {
    background-image: url('../../images/icons/lb-improve-weakness-icon.png');
}

.lb-map-icon {
    background-image: url('../../images/icons/map-icon.png');
}

.lb-submit-icon {
    background-image: url('../../images/icons/submit-icon.png');
}