
.lb-flex-column,
.lb-flex-row,
.lb-portrait-row-landscape-column,
.lb-portrait-column-landscape-row{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flexbox;
    display: flex;
}

.lb-flex-column {
    flex-direction: column !important;
    -webkit-flex-direction: column !important;
	-webkit-box-orient:vertical !important;
}

.lb-flex-row {
    flex-direction:row !important;
    -webkit-flex-direction: row !important;
	-webkit-box-orient:horizontal !important;
}

.lb-flex-0{
    flex:none;
    -webkit-flex:none;
    -webkit-box-flex:none;
    -moz-flex: none;
	-ms-flex: none;
}

.lb-flex-1 {
    flex:1;
    -webkit-flex:1;
    -webkit-box-flex:1;
    -moz-flex: 1;
	-ms-flex: 1;

    flex-basis : auto;
}

.lb-flex-2{
    flex:2;
    -webkit-flex:2;
    -webkit-box-flex:2;
    -moz-flex: 2;
	-ms-flex: 2;

    flex-basis : auto;
}

.lb-flex-3{
    flex:3;
    -webkit-flex:3;
    -webkit-box-flex:3;
    -moz-flex: 3;
	-ms-flex: 3;

    flex-basis : auto;
}

.lb-flex-4{
    flex:4;
    -webkit-flex:4;
    -webkit-box-flex:4;
    -moz-flex: 4;
	-ms-flex: 4;

    flex-basis : auto;
}

.lb-flex-5{
    flex:5;
    -webkit-flex:5;
    -webkit-box-flex:5;
    -moz-flex: 5;
	-ms-flex: 5;

    flex-basis : auto;
}

.lb-flex-6{
    flex:6;
    -webkit-flex:6;
    -webkit-box-flex:6;
    -moz-flex: 6;
	-ms-flex: 6;

    flex-basis : auto;
}

.lb-flex-7{
    flex:7;
    -webkit-flex:7;
    -webkit-box-flex:7;
    -moz-flex: 7;
	-ms-flex: 7;

    flex-basis : auto;
}

.lb-flex-8{
    flex:8;
    -webkit-flex:8;
    -webkit-box-flex:8;
    -moz-flex: 8;
	-ms-flex: 8;

    flex-basis : auto;
}

.lb-align-start{
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -webkit-box-align: start;
}

.lb-align-center{
    align-items:center;
    -webkit-align-items: center;
    -webkit-box-align:center;
}

.lb-align-end{
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -webkit-box-align: end;
}

.lb-justify-start{
    justify-content:flex-start;
    -webkit-justify-content:flex-start;
    -webkit-box-pack:start;
}

.lb-justify-center {
    justify-content:center;
    -webkit-justify-content:center;
    -webkit-box-pack:center;
}

.lb-justify-end{
    justify-content:flex-end;
    -webkit-justify-content:flex-end;
    -webkit-box-pack:end;
}

.lb-justify-around{
    justify-content:space-around;
    -webkit-justify-content:space-around;
}

.lb-justify-between{
    justify-content:space-between;
    -webkit-justify-content:space-between;
    -webkit-box-pack:justify;
}

.lb-flex-wrap {
    flex-wrap: wrap;
    -webkit-flex-wrap:wrap;
}

.lb-medium-space.lb-flex-column > *{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.lb-medium-space.lb-flex-row > *{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.lb-small-space.lb-flex-column > *{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.lb-small-space.lb-flex-row > *{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

    .lb-small-space.lb-flex-column > *:first-child,
    .lb-medium-space.lb-flex-column > *:first-child{
        margin-top: 0rem;
    }

    .lb-small-space.lb-flex-row > *:first-child,
    .lb-medium-space.lb-flex-row > *:first-child{
        margin-left: 0rem;
    }

    .lb-small-space.lb-flex-column > *:last-child,
    .lb-medium-space.lb-flex-column > *:last-child{
        margin-bottom: 0rem;
    }

    .lb-small-space.lb-flex-row > *:last-child,
    .lb-medium-space.lb-flex-row > *:last-child{
        margin-right: 0rem;
    }

.lb-flex-basis-0 {
    flex-basis : 0px;
}

.lb-flex-basis-auto {
    flex-basis : auto;
}

.lb-flex-width-0 {
    width:0px;
}

.lb-flex-height-0 {
    height:0px;
}

/* --- lb template 002 --- */

.lb-template-002 .lb-tab-header md-tabs-wrapper {
    background-color : white;
}

.lb-template-002 .lb-slide-body .slider-slides,
.lb-template-002 .lb-slide-body .slider-slide,
.lb-template-002 .lb-main-scroll .scroll {

    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flexbox;
	display: flex;

    flex:1;
    -webkit-flex:1;
    -webkit-box-flex:1;
    -moz-flex: 1;
	-ms-flex: 1;

}

.lb-template-002 .lb-slide-body .slider-slides {
    flex-direction:row !important;
    -webkit-flex-direction: row !important;
	-webkit-box-orient:horizontal !important;
}

.lb-template-002 .lb-slide-body .slider-slide,
.lb-template-002 .lb-main-scroll .scroll {
    flex-direction: column !important;
    -webkit-flex-direction: column !important;
    -webkit-box-orient: vertical !important;
}

.lb-template-002 .lb-slide-body .slider-slides,
.lb-template-002 .lb-slide-body .slider-slide {
    height : auto;
    flex-basis : 0%;
}

.lb-template-002 .lb-main-scroll .scroll {
    flex-basis : auto;
}

/* -------------------- */

/* --- lb template 003 --- */

.lb-template-003 .lb-main-scroll .scroll{

    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flexbox;
	display: flex;

    flex:1;
    -webkit-flex:1;
    -webkit-box-flex:1;
    -moz-flex: 1;
	-ms-flex: 1;

    flex-direction: column !important;
    -webkit-flex-direction: column !important;
    -webkit-box-orient: vertical !important;

    flex-basis : auto;

}

/* -------------------- */


/* --- lb template 004 --- */

.lb-template-004 .lb-header-panel{
    position : relative;
    height : 16rem;
    color : white;
}

.lb-template-004 .lb-header-background {
    position: absolute;
    background-image : url(../../images/backgrounds/bg-questions-3.jpg);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.lb-template-004 .lb-header-content {
    padding : 1rem 12rem 1rem;
    position: relative;
    z-index: 1;
    background-color: rgba(0,0,0,0.3);
}

.lb-template-004  .lb-tool-bar {
    position : absolute;
    width : 100%;
    height : 5rem;
    top:0px;
    left : 0px;
    z-index : 2;
}

.lb-template-004 .lb-header-image img {
    width : 10rem;
    height : 13rem;
}

.lb-template-004 .lb-header-title {
    max-height : 6rem;
}

.lb-template-004 .lb-header-description {
    max-height : 6.6rem;
}

.lb-template-004 .lb-rigth-btn {
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: 3;
}

.lb-template-004 .lb-main-scroll .scroll{

    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flexbox;
	display: flex;

    flex:1;
    -webkit-flex:1;
    -webkit-box-flex:1;
    -moz-flex: 1;
	-ms-flex: 1;

    flex-direction: column !important;
    -webkit-flex-direction: column !important;
    -webkit-box-orient: vertical !important;

    flex-basis : auto;

}

/* -------------------- */

@media screen and (orientation:portrait){

    .lb-portrait-row-landscape-column {
        flex-direction:row !important;
        -webkit-flex-direction: row !important;
	    -webkit-box-orient:horizontal !important;
    }

    .lb-portrait-column-landscape-row {
        flex-direction: column !important;
        -webkit-flex-direction: column !important;
	    -webkit-box-orient:vertical !important;
    }

    .lb-portrait-flex-basis-0 {
        flex-basis : 0px;
    }

    .lb-portrait-flex-basis-auto {
        flex-basis : auto;
    }

}

@media screen and (orientation:landscape){

    .lb-portrait-row-landscape-column {
        flex-direction: column !important;
        -webkit-flex-direction: column !important;
	    -webkit-box-orient:vertical !important;
    }

    .lb-portrait-column-landscape-row {
        flex-direction:row !important;
        -webkit-flex-direction: row !important;
	    -webkit-box-orient:horizontal !important;
    }

    .lb-landscape-flex-1{
        flex:1;
        -webkit-flex:1;
        -webkit-box-flex:1;
        -moz-flex: 1;
	    -ms-flex: 1;

        flex-basis : auto;
    }

    .lb-landscape-flex-basis-0 {
        flex-basis : 0px;
    }

    .lb-landscape-flex-basis-auto {
        flex-basis : auto;
    }

}

/* mobile */

@media screen and (min-width: 0em) and (max-width: 47em)
/*@media screen and (min-device-width:20em) and (max-device-width: 48em)*/ {

    .lb-md-visible,
    .lb-xs-hidden {
        display : none !important;
    }

    .lb-xs-portrait-column-landscape-row,
    .lb-xs-portrait-row-landscape-column,
    .lb-xs-flex-column,
    .lb-xs-flex-row{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flexbox;
		display: flex;
	}

    .lb-xs-flex-row {
        flex-direction:row !important;
        -webkit-flex-direction: row !important;
	    -webkit-box-orient:horizontal !important;
    }

    .lb-xs-flex-column {
        flex-direction: column !important;
        -webkit-flex-direction: column !important;
	    -webkit-box-orient:vertical !important;
    }

    .lb-xs-justify-end {
        justify-content:flex-end;
        -webkit-justify-content:flex-end;
        -webkit-box-pack:end;
    }

    .lb-xs-align-center{
        align-items:center;
        -webkit-align-items: center;
        -webkit-box-align:center;
    }

    .lb-xs-flex-0{
        flex:none;
        -webkit-flex:none;
        -webkit-box-flex:none;
        -moz-flex: none;
	    -ms-flex: none;
    }

    .lb-xs-flex-5{
        flex:5;
        -webkit-flex:5;
        -webkit-box-flex:5;
        -moz-flex: 5;
	    -ms-flex: 5;
    }

    .lb-medium-space.lb-xs-flex-column > *{
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }

    .lb-medium-space.lb-xs-flex-row > *{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }

    .lb-small-space.lb-xs-flex-column > *{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .lb-small-space.lb-xs-flex-row > *{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

        .lb-small-space.lb-xs-flex-column > *:first-child,
        .lb-medium-space.lb-xs-flex-column > *:first-child{
            margin-top: 0rem;
        }

        .lb-small-space.lb-xs-flex-row > *:first-child,
        .lb-medium-space.lb-xs-flex-row > *:first-child{
            margin-left: 0rem;
        }

        .lb-small-space.lb-xs-flex-column > *:last-child,
        .lb-medium-space.lb-xs-flex-column > *:last-child{
            margin-bottom: 0rem;
        }

        .lb-small-space.lb-xs-flex-row > *:last-child,
        .lb-medium-space.lb-xs-flex-row > *:last-child{
            margin-right: 0rem;
        }

        .lb-xs-flex-basis-0 {
            flex-basis : 0px;
        }

        .lb-xs-flex-basis-auto {
            flex-basis : auto;
        }


    /* --- lb template 004 --- */

    .lb-template-004 .lb-header-content {
        padding : 1rem 1rem 1rem;
    }

    /* -------------------- */

}

@media screen and (min-width: 0em) and (max-width: 47em) and (orientation:portrait)
/*@media screen and (min-device-width:20em) and (max-device-width: 48em) and (orientation:portrait)*/ {

    .lb-xs-portrait-hidden {
        display : none;
    }

    .lb-xs-portrait-flex-0 {
        flex:none;
        -webkit-flex:none;
        -webkit-box-flex:none;
        -moz-flex: none;
	    -ms-flex: none;
    }

    .lb-xs-portrait-flex-1{
        flex:1;
        -webkit-flex:1;
        -webkit-box-flex:1;
        -moz-flex: 1;
	    -ms-flex: 1;

        flex-basis : auto;
    }

    .lb-xs-portrait-align-center{
        align-items:center;
        -webkit-align-items: center;
        -webkit-box-align:center;
    }

    .lb-xs-portrait-justify-end{
        justify-content:flex-end;
        -webkit-justify-content:flex-end;
        -webkit-box-pack:end;
    }

    .lb-xs-portrait-column-landscape-row {
        flex-direction: column !important;
        -webkit-flex-direction: column !important;
	    -webkit-box-orient:vertical !important;
    }

    .lb-xs-portrait-row-landscape-column {
        flex-direction:row !important;
        -webkit-flex-direction: row !important;
	    -webkit-box-orient:horizontal !important;
    }

    .lb-medium-space.lb-xs-portrait-column-landscape-row > *{
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }

    .lb-medium-space.lb-xs-portrait-row-landscape-column > *{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }

    .lb-small-space.lb-xs-portrait-column-landscape-row > *{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .lb-small-space.lb-xs-portrait-row-landscape-column > *{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

        .lb-small-space.lb-xs-portrait-column-landscape-row > *:first-child,
        .lb-medium-space.lb-xs-portrait-column-landscape-row > *:first-child{
            margin-top: 0rem;
        }

        .lb-small-space.lb-xs-portrait-row-landscape-column > *:first-child,
        .lb-medium-space.lb-xs-portrait-row-landscape-column > *:first-child{
            margin-left: 0rem;
        }

        .lb-small-space.lb-xs-portrait-column-landscape-row > *:last-child,
        .lb-medium-space.lb-xs-portrait-column-landscape-row > *:last-child{
            margin-bottom: 0rem;
        }

        .lb-small-space.lb-xs-portrait-row-landscape-column > *:last-child,
        .lb-medium-space.lb-xs-portrait-row-landscape-column > *:last-child{
            margin-right: 0rem;
        }

        .lb-xs-portrait-flex-basis-0 {
            flex-basis : 0px;
        }

        .lb-xs-portrait-flex-basis-auto {
            flex-basis : auto;
        }

}

@media screen and (min-width: 0em) and (max-width: 47em) and (orientation:landscape)
/*@media screen and (min-device-width:20em) and (max-device-width: 48em) and (orientation:landscape)*/ {

    .lb-xs-landscape-flex-row {
        display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flexbox;
		display: flex;
    }

    .lb-xs-landscape-flex-row {
        flex-direction:row !important;
        -webkit-flex-direction: row !important;
	    -webkit-box-orient:horizontal !important;
    }

    .lb-xs-landscape-flex-0 {
        flex:none;
        -webkit-flex:none;
        -webkit-box-flex:none;
        -moz-flex: none;
	    -ms-flex: none;
    }

    .lb-xs-landscape-flex-1 {
        flex:1;
        -webkit-flex:1;
        -webkit-box-flex:1;
        -moz-flex: 1;
	    -ms-flex: 1;

        flex-basis : auto;
    }

    .lb-xs-landscape-flex-3 {
        flex:3;
        -webkit-flex:3;
        -webkit-box-flex:3;
        -moz-flex: 3;
	    -ms-flex: 3;

        flex-basis : auto;
    }

    .lb-xs-landscape-flex-5 {
        flex:5;
        -webkit-flex:5;
        -webkit-box-flex:5;
        -moz-flex: 5;
	    -ms-flex: 5;

        flex-basis : auto;
    }

    .lb-xs-portrait-column-landscape-row {
        flex-direction:row !important;
        -webkit-flex-direction: row !important;
	    -webkit-box-orient:horizontal !important;
    }

    .lb-xs-portrait-row-landscape-column {
        flex-direction: column !important;
        -webkit-flex-direction: column !important;
	    -webkit-box-orient:vertical !important;
    }

    .lb-medium-space.lb-xs-portrait-row-landscape-column > *{
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }

    .lb-medium-space.lb-xs-portrait-column-landscape-row > *{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }

    .lb-small-space.lb-xs-portrait-row-landscape-column > *{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .lb-small-space.lb-xs-portrait-column-landscape-row > *{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

        .lb-small-space.lb-xs-portrait-row-landscape-column > *:first-child,
        .lb-medium-space.lb-xs-portrait-row-landscape-column > *:first-child{
            margin-top: 0rem;
        }

        .lb-small-space.lb-xs-portrait-column-landscape-row > *:first-child,
        .lb-medium-space.lb-xs-portrait-column-landscape-row > *:first-child{
            margin-left: 0rem;
        }

        .lb-small-space.lb-xs-portrait-row-landscape-column > *:last-child,
        .lb-medium-space.lb-xs-portrait-row-landscape-column > *:last-child{
            margin-bottom: 0rem;
        }

        .lb-small-space.lb-xs-portrait-column-landscape-row > *:last-child,
        .lb-medium-space.lb-xs-portrait-column-landscape-row > *:last-child{
            margin-right: 0rem;
        }


    .lb-xs-landscape-flex-basis-0 {
        flex-basis : 0px;
    }

    .lb-xs-landscape-flex-basis-auto {
        flex-basis : auto;
    }

    /* --- lb template 004 --- */

    .lb-template-004 .lb-header-panel{
        position : relative;
        height : auto;
    }

    /* -------------------- */

}

/* tablet */

@media screen and (min-width: 47em) and (max-width: 65em)
/*@media screen and (min-device-width:48em) and (max-device-width: 65em)*/ {

    .lb-md-visible,
    .lb-sm-hidden,
    .lb-xs-visible {
        display : none !important;
    }

    .lb-sm-flex-column,
    .lb-sm-flex-row,
    .lb-sm-portrait-column-landscape-row {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flexbox;
		display: flex;
	}

    .lb-sm-flex-column {
        flex-direction: column !important;
        -webkit-flex-direction: column !important;
	    -webkit-box-orient:vertical !important;
    }

    .lb-sm-flex-row {
        flex-direction:row !important;
        -webkit-flex-direction: row !important;
	    -webkit-box-orient:horizontal !important;
    }

    .lb-sm-flex-0{
        flex:none;
        -webkit-flex:none;
        -webkit-box-flex:none;
        -moz-flex: none;
	    -ms-flex: none;
    }

    .lb-sm-flex-1 {
        flex:1;
        -webkit-flex:1;
        -webkit-box-flex:1;
        -moz-flex: 1;
	    -ms-flex: 1;

        flex-basis : auto;
    }

    .lb-sm-flex-2 {
        flex:2;
        -webkit-flex:2;
        -webkit-box-flex:2;
        -moz-flex: 2;
	    -ms-flex: 2;

        flex-basis : auto;
    }

    .lb-sm-flex-3 {
        flex:3;
        -webkit-flex:3;
        -webkit-box-flex:3;
        -moz-flex: 3;
	    -ms-flex: 3;

        flex-basis : auto;
    }

    .lb-medium-space.lb-sm-flex-column > *{
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }

    .lb-medium-space.lb-sm-flex-row > *{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }

    .lb-small-space.lb-sm-flex-column > *{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .lb-small-space.lb-sm-flex-row > *{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

        .lb-small-space.lb-sm-flex-column > *:first-child,
        .lb-medium-space.lb-sm-flex-column > *:first-child{
            margin-top: 0rem;
        }

        .lb-small-space.lb-sm-flex-row > *:first-child,
        .lb-medium-space.lb-sm-flex-row > *:first-child{
            margin-left: 0rem;
        }

        .lb-small-space.lb-sm-flex-column > *:last-child,
        .lb-medium-space.lb-sm-flex-column > *:last-child{
            margin-bottom: 0rem;
        }

        .lb-small-space.lb-sm-flex-row > *:last-child,
        .lb-medium-space.lb-sm-flex-row > *:last-child{
            margin-right: 0rem;
        }

    .lb-sm-flex-basis-0 {
        flex-basis : 0px;
    }

    .lb-sm-flex-basis-auto {
        flex-basis : auto;
    }

}

@media screen and (min-width: 47em) and (max-width: 65em) and (orientation:portrait)
/*@media screen and (min-device-width:48em) and (max-device-width: 65em) and (orientation:portrait)*/ {

    .lb-sm-portrait-column-landscape-row {
        flex-direction: column !important;
        -webkit-flex-direction: column !important;
	    -webkit-box-orient:vertical !important;
    }

    .lb-sm-portrait-flex-0{
        flex:none;
        -webkit-flex:none;
        -webkit-box-flex:none;
        -moz-flex: none;
	    -ms-flex: none;
    }

    .lb-sm-portrait-flex-1{
        flex:1;
        -webkit-flex:1;
        -webkit-box-flex:1;
        -moz-flex: 1;
	    -ms-flex: 1;

        flex-basis : auto;
    }

    .lb-sm-portrait-flex-basis-0 {
        flex-basis : 0px;
    }

    .lb-sm-portrait-flex-basis-auto {
        flex-basis : auto;
    }

}

@media screen and (min-width: 47em) and (max-width: 65em) and (orientation:landscape)
/*@media screen and (min-device-width:48em) and (max-device-width: 65em) and (orientation:landscape)*/ {

    .lb-sm-landscape-flex-column,
    .lb-sm-landscape-flex-row {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flexbox;
		display: flex;
	}

    .lb-sm-landscape-flex-column {
        flex-direction: column !important;
        -webkit-flex-direction: column !important;
	    -webkit-box-orient:vertical !important;
    }

    .lb-sm-portrait-column-landscape-row,
    .lb-sm-landscape-flex-row {
        flex-direction:row !important;
        -webkit-flex-direction: row !important;
	    -webkit-box-orient:horizontal !important;
    }

    .lb-sm-landscape-flex-0{
        flex:none;
        -webkit-flex:none;
        -webkit-box-flex:none;
        -moz-flex: none;
	    -ms-flex: none;
    }

    .lb-sm-landscape-flex-1{
        flex:1;
        -webkit-flex:1;
        -webkit-box-flex:1;
        -moz-flex: 1;
	    -ms-flex: 1;

        flex-basis : auto;
    }

    .lb-sm-landscape-flex-3{
        flex:3;
        -webkit-flex:3;
        -webkit-box-flex:3;
        -moz-flex: 3;
	    -ms-flex: 3;

        flex-basis : auto;
    }

    .lb-sm-landscape-flex-5{
        flex:5;
        -webkit-flex:5;
        -webkit-box-flex:5;
        -moz-flex: 5;
	    -ms-flex: 5;

        flex-basis : auto;
    }

    .lb-sm-landscape-flex-basis-0 {
        flex-basis : 0px;
    }

    .lb-sm-landscape-flex-basis-auto {
        flex-basis : auto;
    }

}

/* desktop */

@media screen and (min-width: 65em)
/*@media screen and (min-device-width:65em)*/ {

    .lb-md-visible{
		display: block;
	}

    .lb-md-hidden,
    .lb-xs-visible {
        display : none !important;
    }

    .lb-flex-column.lb-md-visible,
    .lb-flex-row.lb-md-visible,
    .lb-md-flex-column,
    .lb-md-flex-row,
    .lb-md-flex-column.lb-md-visible,
    .lb-md-flex-row.lb-md-visible{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flexbox;
		display: flex;
	}

    .lb-md-flex-column {
        flex-direction: column !important;
        -webkit-flex-direction: column !important;
	    -webkit-box-orient:vertical !important;
    }

    .lb-md-flex-row {
        flex-direction:row !important;
        -webkit-flex-direction: row !important;
	    -webkit-box-orient:horizontal !important;
    }

    .lb-md-flex-0 {
        flex:none;
        -webkit-flex:none;
        -webkit-box-flex:none;
        -moz-flex: none;
	    -ms-flex: none;
    }

    .lb-md-flex-1 {
        flex:1;
        -webkit-flex:1;
        -webkit-box-flex:1;
        -moz-flex: 1;
	    -ms-flex: 1;

        flex-basis : auto;
    }

    .lb-md-flex-2 {
        flex:2;
        -webkit-flex:2;
        -webkit-box-flex:2;
        -moz-flex: 2;
	    -ms-flex: 2;

        flex-basis : auto;
    }

    .lb-md-align-center{
        align-items:center;
        -webkit-align-items: center;
        -webkit-box-align:center;
    }

    .lb-medium-space.lb-md-flex-column > *{
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }

    .lb-medium-space.lb-md-flex-row > *{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }

    .lb-small-space.lb-md-flex-column > *{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .lb-small-space.lb-md-flex-row > *{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

        .lb-small-space.lb-md-flex-column > *:first-child,
        .lb-medium-space.lb-md-flex-column > *:first-child{
            margin-top: 0rem;
        }

        .lb-small-space.lb-md-flex-row > *:first-child,
        .lb-medium-space.lb-md-flex-row > *:first-child{
            margin-left: 0rem;
        }

        .lb-small-space.lb-md-flex-column > *:last-child,
        .lb-medium-space.lb-md-flex-column > *:last-child{
            margin-bottom: 0rem;
        }

        .lb-small-space.lb-md-flex-row > *:last-child,
        .lb-medium-space.lb-md-flex-row > *:last-child{
            margin-right: 0rem;
        }

    .lb-md-flex-basis-0 {
        flex-basis : 0px;
    }

    .lb-md-flex-basis-auto {
        flex-basis : auto;
    }

}

@media screen and (min-width: 65em) and (orientation:portrait)
/*@media screen and (min-device-width:65em) and (orientation:portrait)*/ {




}

@media screen and (min-width: 65em) and (orientation:landscape)
/*@media screen and (min-device-width:65em) and (orientation:landscape)*/ {

    .lb-md-landscape-flex-3{
        flex:3;
        -webkit-flex:3;
        -webkit-box-flex:3;
        -moz-flex: 3;
	    -ms-flex: 3;

        flex-basis : auto;
    }

    .lb-md-landscape-flex-5{
        flex:5;
        -webkit-flex:5;
        -webkit-box-flex:5;
        -moz-flex: 5;
	    -ms-flex: 5;

        flex-basis : auto;
    }

}