.disable-user-behavior:active {
    background-color : rgba(0,0,0,0.1);
}

.lb-view-warper {
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
}

.lb-view-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height:100%;
    overflow: hidden;

    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;     
    display: flexbox;
    display: flex;
}

.lb-main-view {
    position : absolute;
    height : 100%;
    width : 100%;
    overflow:hidden;    
}

/* main panel component */

.lb-main-panel {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;     
    display: flexbox;
    display: flex;

    flex-direction: column !important;
    -webkit-flex-direction: column !important;
	-webkit-box-orient:vertical !important;

    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 100%;
    height:100%;
    background-color : whitesmoke;
    z-index: 10;
}

    .lb-main-panel > .lb-body-panel {
        background-color: whitesmoke;
        z-index: 0;
    }

    .lb-main-panel > .lb-footer-panel {
        background-color: white;
        border-top: 1px solid #CECECE;
        z-index : 8;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    .lb-main-panel:not(.lb-menu-panel).lb-open-right.lb-open-right-add,
    .lb-main-panel:not(.lb-menu-panel).lb-open-right-remove{
        -webkit-transition-duration: 0.25s;
        transition-duration: 0.25s;
    }

    .lb-main-panel:not(.lb-menu-panel).lb-open-right.lb-open-right-add,
    .lb-main-panel:not(.lb-menu-panel).lb-open-right-remove.lb-open-right-remove-active {
        -webkit-transform: translate3d(0rem, 0, 0);
        transform: translate3d(0rem, 0, 0);
    }

    .lb-main-panel:not(.lb-menu-panel).lb-open-right.lb-open-right-add.lb-open-right-add-active,
    .lb-main-panel:not(.lb-menu-panel).lb-open-right-remove,
    .lb-main-panel:not(.lb-menu-panel).lb-open-right{
        -webkit-transform: translate3d(-27rem, 0, 0);
        transform: translate3d(-27rem, 0, 0);
    }

        .lb-main-panel:not(.lb-menu-panel) .lb-popup-open-menu {
            display :none;
        }

        .lb-main-panel:not(.menu-panel).lb-open-right .lb-popup-open-menu {
            content: '';
            display : block;
            position:absolute;
            background-color : transparent;
            width:100%;
            height:100%;
            z-index : 21;
            top: 0px;
        }

/* menu component */

.lb-menu-panel{    
    z-index: 5;
}

    .lb-menu-panel .lb-image-profile{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 1px solid white;
        padding: 0.2rem;
    }

    .lb-menu-panel.lb-top {
        position: absolute;
        width: 100%;
        z-index: 11;
        background-color : white;
        height : 6rem;
        padding : 0rem 3rem;
        border-bottom : 1px solid #CECECE;
    }

        .lb-menu-panel.lb-top > * {
            min-width: 10rem;
            padding : 0rem 1rem;
        }

        .lb-menu-panel.lb-top img:not(.lb-icon) {
            height: 4rem;        
        }

        .lb-menu-panel.lb-top .lb-image-profile {
            height: 5.5rem !important;
            width: 5.5rem !important;
        }

    .lb-menu-panel .lb-image-profile{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 1px solid white;
        padding: 0.2rem;
    }

    .lb-menu-panel.lb-right {
        width: 27rem;
        right: 0px;
        left: auto;
        border-left:1px solid #CECECE;  
    }

    .lb-menu-panel.lb-right.lb-open-right.lb-open-right-add,
    .lb-menu-panel.lb-right.lb-open-right-remove{
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
    
    .lb-menu-panel.lb-right.lb-open-right,
    .lb-menu-panel.lb-right.lb-open-right.lb-open-right-add,
    .lb-menu-panel.lb-right.lb-open-right-remove,
    .lb-menu-panel.lb-right.lb-open-right.lb-open-right-add.lb-open-right-add-active{
            z-index: 6;
    }
    
.view.lb-open-menu-top {
    bottom: 0rem;
    height: auto;
    top: 6rem;
}

/* loader component */

.lb-loader-panel{
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 10000;
}

    .lb-loader-panel img{
        height: 5rem;
        width: 5rem;
        margin-bottom: 1rem;
    }

    .lb-loader-panel .spinner svg {
        height: 5rem;
        width: 5rem;
        stroke: white;
        fill: white;
    }

.lb-spinner-white .spinner svg {
    stroke: white;
    fill: white;
}

/* bar panel type 1 */

.lb-bar-panel{
    min-height: 5rem;
    z-index: 10;  
    padding : 1rem 1.5rem;
}

/* bar panel type 2 */

.lb-bar-panel-2{
    background-color: rgba(90,90,90,0.9);
    min-height: 4rem;
    padding: 0.5rem;
    color: white;
}

    .lb-flex-column.lb-bar-panel-2 {
        padding : 0rem 0.5rem;
    }

        .lb-flex-column.lb-bar-panel-2 > *:not(:first-child){
            border-top: 1px solid rgba(255,255,255,0.3);
        }

            .lb-flex-column.lb-bar-panel-2 > *{
                padding : 0.5rem 0rem;
            }

    .lb-flex-row.lb-bar-panel-2 {
        padding : 0.5rem 0rem;
    }

        .lb-flex-row.lb-bar-panel-2 > *:not(:first-child){
            border-left: 1px solid rgba(255,255,255,0.3);
        }

            .lb-flex-row.lb-bar-panel-2 > *{
                padding : 0rem 0.5rem;
            }

    .lb-bar-panel-2 > *.lb-flex-row > *{
        margin: 0rem 0.5rem;
    }

    .lb-bar-panel-2 > *.lb-flex-row > :first-child{
        margin-left: 1rem;
    }

    .lb-bar-panel-2 > *.lb-flex-row > :last-child{
        margin-right: 1rem;
    }

/* view more */
.lb-view-more {
    border-bottom : 1px solid;
    border-top :1px solid;
    border-color : #cecece;
    background-color : white;
}

/* list-panel */

.lb-list-panel{
    list-style: none;
    padding: 0rem;
    margin: 0px;
}

    .lb-list-panel > li{
        min-height: 6rem;
        margin : 0rem;
        padding: 0rem 1rem;
    }

        .lb-list-panel > li:last-child > *{
            border: 0px;
        }

        .lb-list-panel > li > *{
            padding : 1rem 0.5rem;
            border-bottom: 1px solid #CECECE;
        }

        .lb-list-panel > li > :first-child{
            padding-left: 0rem;
        }

        .lb-list-panel > li > :last-child{
            padding-right: 0rem;
        }

        .lb-list-panel > li .lb-title{
            font-size: 2.5rem;
        }

        .lb-list-panel > li .lb-description{
            font-size: 1.8rem;
        }

    .lb-list-panel:not(.lb-grid-view) .lb-list-invisible{
        display: none !important;
    }


    .lb-list-panel.lb-grid-view{
        border: 0px;
        padding: 1rem;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flexbox;
        display: flex;

        flex-direction: row !important;
        -webkit-flex-direction: row !important;
        -webkit-box-orient: horizontal !important;
    }

        .lb-list-panel.lb-grid-view > li{
            width: 10rem;
            padding: 1rem;
            border: 0px;
            margin: 0px;
        }

            .lb-list-panel.lb-grid-view > li > *{
                margin: 0px;
                border: 0px;
                padding : 0rem;
            }

            .lb-list-panel.lb-grid-view .lb-grid-invisible{
                display: none !important;
            }

.lb-list-panel,
.lb-list-panel > li,
.lb-list-panel .lb-grid-row-list-column,
.lb-list-panel .lb-grid-column-list-row {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;     
    display: flexbox;
    display: flex;
}

.lb-list-panel,
.lb-list-panel .lb-grid-row-list-column,
.lb-list-panel.lb-grid-view .lb-grid-column-list-row{
    flex-direction: column !important;
    -webkit-flex-direction: column !important;
	-webkit-box-orient:vertical !important;
}

.lb-list-panel.lb-grid-view,
.lb-list-panel.lb-grid-view .lb-grid-row-list-column,
.lb-list-panel .lb-grid-column-list-row {
    flex-direction:row !important;
    -webkit-flex-direction: row !important;
	-webkit-box-orient:horizontal !important;
}

.lb-list-panel.lb-grid-view li{
    justify-content:center;
    -webkit-justify-content:center;
    -webkit-box-pack:center;
}

.lb-list-panel.lb-grid-view:not(.lb-no-wrap){
    flex-wrap: wrap;
    -webkit-flex-wrap:wrap;
}

/* number navigate */

.lb-item-number-navigation-panel {
    list-style: none;
    padding: 0rem;
    margin: 0px;
    line-height: 0;
    margin-top:0.3rem;
}

     .lb-item-number-navigation-panel > li{
        display: inline-block;
        height: 2rem;
        width: 2rem;
        border : 1px solid #46c7c7;
        color : #46c7c7;
        border-radius: 50%;
        margin: 0rem 0.3rem;
        position : relative;
    }
        

        .lb-item-number-navigation-panel > li:first-child{
            margin-left: 0px;
        }

        .lb-item-number-navigation-panel > li:last-child{
            margin-right: 0px;
        }

        .lb-item-number-navigation-panel > li.lb-active{
            background-color: #46c7c7;
            color : white;
        }

    .lb-item-number-navigation-panel .lb-number-container{
        position: absolute;
        width: 100%;
        height: 100%;
    }

        .lb-item-number-navigation-panel .lb-number-label{
            position: relative;
            top : -2px;
        }

/* step circle*/
.lb-step-circle {
    font-size: 3.5rem;
    height: 1em;
    width: 1em;
    border: 3px solid #46c7c7;
    border-radius: 50%;
    color: #46c7c7;
    text-align : center;
}

     .lb-step-circle span {
        font-size: 0.85em;
        position: relative;
        top: -0.2em;
    }

/* btn shopping cart */

.lb-btn-shopping-cart-quatity {
    border-radius : 0% !important;
}

    .lb-shopping-cart-quatity{
          position: absolute;
          background-color: #46c7c7;
          border-radius: 50%;
          font-weight: bold;
          min-width: 2.5rem;
          height: 2.5rem;
          top: 0em;
          right: 0em;
    }

        .lb-shopping-cart-quatity span {
            position : relative;
            top : -0.1em;
            color : white !important;
        }

/* store select */

.lb-store-image-select {
    height : 4rem;
}

/* store image */

.lb-store-image{
    height : 3rem;
}

/* current price */

.lb-current-price {
    color : red;
    font-size : 2.5rem;
}

/* old price */

.lb-old-price {
    text-decoration : line-through;
}

/* chart container */

.lb-chart-container{
	position:relative;
    min-height:10rem;	
}

    .lb-chart-container > *:not(.navigate-panel){
	    overflow: hidden;	
    }

    [google-chart]{
		overflow: hidden;
        margin: 0 auto;
	}

/* annotation chart overwrite */

.lb-annotation-chart.google-visualization-atl.container {
    padding :0rem;
    margin : 0rem;
    width: 100%;
}

    .lb-annotation-chart .legend,
    .lb-annotation-chart .zoomControls {
        display : block !important;        
    }

    .lb-annotation-chart .legend,
    .lb-annotation-chart .zoomControls,
    .lb-annotation-chart .zoomControls button {
        font-size : 1.5rem !important;
        line-height : 1;
    }

    .lb-annotation-chart .zoomControls {
        text-align : center;
    }

        .lb-annotation-chart .zoomControls button {
            width: 4rem;
            line-height: 1.5;
            padding: 0rem 0rem 0.5rem;
            border: 1px solid #cecece;
            border-radius: 5px;
            background-color: white;
            text-transform: uppercase;
            font-size: 1.8rem !Important;
        }

        .lb-annotation-chart .zoomControls button:active {
            background-color : rgba(0,0,0,0.3);
            color : white;
        }

    .lb-annotation-chart .border {
        height : initial !important;
        border : 0rem !important;
    }

/* bg btn facebook */

.lb-bg-facebook{
    background-color: #3B5998 !important;
    color: white;
}

/* popup panel */

.lb-popup-panel{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
}

/* white panel */

.lb-white-panel {
    background-color : white;
    margin: 0.5rem;
    padding: 1rem;
}

    .lb-white-panel > .lb-bar-panel{
        border-bottom: 1px solid #cecece;
        padding : 0rem;
        margin-top: -1rem;
    }

    .lb-white-panel > :not(:first-child){
        padding-top : 1rem;
    }

    .lb-white-panel .panel{
        border-radius : 0rem;
        margin-bottom : 1rem;
    }

        .lb-white-panel .panel-body{
            padding : 0rem;
            overflow: hidden;
        }

/* state panel */

.lb-state-panel {
    font-size : 2rem;
    list-style: none;
    padding: 0rem;
    margin: 0px;
    line-height: 0;
    margin-top:0.3rem;
}

    .lb-state-panel > li{
        display: inline-block;
        height: 1em;
        width: 1em;
        border: 0.1em solid #7F7F7F;
        border-radius: 50%;
        margin: 0rem 0.1rem;
        position : relative;
    }

    .lb-state-panel > li:not(:first-child)::before{
        content: '';
        height: 0.1em;
        width: 0.5em;
        position: absolute;
        background-color: #7F7F7F;
        left: -0.5em;
        top: 0.35em;
    }

    .lb-state-panel > li div{
        position: absolute;
        height: 1em;
        width: 1em;
        top: -0.1em;
        left: -0.1em;
    }

        .lb-state-panel > li:first-child{
            margin-left: 0px;
        }

        .lb-state-panel > li:last-child{
            margin-right: 0px;
        }

        .lb-state-panel > li.lb-active,
        .lb-state-panel > li.lb-active:not(:first-child)::before {
            border: 0.1em solid #22C064;
            color : white;
            background-color: #22C064;
        }

        .lb-state-panel > li.active:not(:first-child)::before {
            top: 0.3em;
        }

/* page panel */

.page-panel{
    position: absolute;
    top: 0px;
    width: 100%;
    height:100%;
}

    .page-panel.center.center-add,
    .page-panel.center-remove{
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }

    .page-panel.center{
        -webkit-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    .page-panel.right{
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    .page-panel.left{
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

/* lb-overlay */

.lb-dropdown-overlay {
    position :absolute;
    height : 100%;
    width : 100%;
    top : 0rem;
    left : 0rem;
}

    .lb-dropdown-overlay .lb-dropdown-backgrond {
        position :absolute;
        height : 100%;
        width : 100%;
        top : 0rem;
        left : 0rem;
        z-index :0;
    }

.lb-dropdown-overlay .lb-dropdown-popup {
    position : absolute;
    width : 40rem;
    height : 70%;
    top : 8rem;
    right : 1rem;
    border-radius :0.5rem;
    border : 0.1rem solid #5a5a5a;
    background-color : white;
    z-index : 1;
}

    .lb-dropdown-overlay .lb-dropdown-popup:before {
        content: '';
        position: absolute;
        right: 50%;
        top: -1rem;
        width: 0;
        height: 0;
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent;
        border-bottom: 1rem solid #5a5a5a;
        
    }

    .lb-dropdown-overlay .lb-dropdown-popup.lb-arrow-bottom:before {
        border-bottom: 0px;
        border-top: 1rem solid #5a5a5a;
        top: initial;
        bottom: -1rem;
    }

    .lb-dropdown-overlay .lb-dropdown-header {
        color : white;
        padding : 1rem;
    }

    .lb-dropdown-overlay .lb-dropdown-header,
    .lb-dropdown-overlay .lb-bg-dropdown-color {
        background-color : #5a5a5a;
    }

.lb-menu-sidenav-overlay {
    position :absolute;
    width : 100%;
    height : 100%;
    top :0rem;
    left : 0rem;
    z-index: 20;
}

    .lb-menu-sidenav-overlay .lb-menu-sidenav-backgrond {
        position :absolute;
        width : 100%;
        height : 100%;
        top :0rem;
        left : 0rem;
        z-index: 0;
        background-color : rgba(0,0,0,0.12);
    }

    .lb-menu-sidenav-overlay .lb-menu-sidenav-content {
        position : absolute;
        width : 30rem;
        height : 100%;
        top : 0rem;
        border-color : #5a5a5a;
        border-style : solid;
        background-color : white;
        z-index : 1;

        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -ms-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

        .lb-menu-sidenav-overlay .lb-menu-sidenav-content.lb-menu-sidenav-right {            
            right : 0rem;
            border-left : 0.1rem;

            transform:         translate3d(100%,0,0);
            -webkit-transform: translate3d(100%,0,0);
            -moz-transform:    translate3d(100%,0,0);
            -ms-transform:     translate3d(100%,0,0);
            -o-transform:      translate3d(100%,0,0);
        }

            .lb-menu-sidenav-overlay .lb-menu-sidenav-content.lb-menu-sidenav-right.lb-menu-sidenav-show {
                transform:         translate3d(0,0,0);
                -webkit-transform: translate3d(0,0,0);
                -moz-transform:    translate3d(0,0,0);
                -ms-transform:     translate3d(0,0,0);
                -o-transform:      translate3d(0,0,0);
            }

.lb-overlay-menu {
    position : absolute;
    top : 0rem;
    left : 0rem;
    width : 100%;
    height : 100%;
    background-color : transparent;
}

    .lb-overlay-menu .lb-overlay-menu-background {
        background-color : transparent;
    }

    .lb-overlay-menu .lb-top-menu {
        position : absolute;
        top : 0rem;
        width : 100%;
        border-bottom : 1px solid #cecece;

        transform:         translate3d(0,-100%,0);
        -webkit-transform: translate3d(0,-100%,0);
        -moz-transform:    translate3d(0,-100%,0);
        -ms-transform:     translate3d(0,-100%,0);
        -o-transform:      translate3d(0,-100%,0);

        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -ms-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    .lb-overlay-menu .lb-bottom-menu {
        position : absolute;
        bottom : 0rem;
        width : 100%;
        padding : 1rem;
        border-top : 1px solid #cecece;

        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -ms-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;

        transform:         translate3d(0,100%,0);
        -webkit-transform: translate3d(0,100%,0);
        -moz-transform:    translate3d(0,100%,0);
        -ms-transform:     translate3d(0,100%,0);
        -o-transform:      translate3d(0,100%,0);
    }

    .lb-overlay-menu.lb-show .lb-top-menu,
    .lb-overlay-menu.lb-show .lb-bottom-menu {
        transform:         translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -moz-transform:    translate3d(0,0,0);
        -ms-transform:     translate3d(0,0,0);
        -o-transform:      translate3d(0,0,0);
    }

    .lb-overlay-menu .lb-top-menu md-toolbar,
    .lb-overlay-menu .lb-bottom-menu {
        color : black !important;
        background-color : rgb(248, 248, 248);
        /*background-color : rgba(255, 255, 255, 1);*/ 
    }

    .lb-overlay-menu .lb-top-menu md-toolbar *,
    .lb-overlay-menu .lb-bottom-menu *{
        color : black !important;
    }

    .lb-overlay-menu .lb-line-veritcal {
        border-bottom : 1px solid #cecece;
        margin : 0.2rem;
    }

    .lb-overlay-menu md-slider {
        width : 100%;
        margin : 0 auto;
        height: 3rem;
    }

        .lb-overlay-menu md-slider .md-track {
            background-color : #5a5a5a;
        }

@media screen and (min-width: 0em) and (max-width: 47em) {
    .lb-dropdown-overlay .lb-dropdown-popup {
        width : 30rem;
    }
}


/* navigate panel */

.navigate-panel {
    position: absolute;
    z-index: 10;
    top: 0px;
    height: 100%;
}

    .navigate-panel.right {
        right: 0px;
    }

    .navigate-panel.left {
        left: 0px;
    }

/* callout */

.callout {
    background-color: #444;
	background-image: -moz-linear-gradient(top, #444, #444);
	position: absolute;
	color: #ccc;
	padding: 0.5rem;
	border-radius: 3px;
	box-shadow: 0px 0px 20px #999;
	min-height: 5rem;
	border: 1px solid #333;
	text-shadow: 0 0 1px #000;
}

    .callout::before {
        content: "";
        width: 0px;
        height: 0px;
        border: 10px solid transparent;
        position: absolute;
    }

    .callout.top::before {
	    left: 50%;
        margin-left : -10px;
	    top: 100%;
	    border-top: 10px solid #444;
    }

    .callout.bottom::before {
	    left: 50%;
        margin-left : -10px;
	    bottom: 100%;
	    border-bottom: 10px solid #444;
    }

/* question text */

.lb-question-text {
    font-size: 2rem !important;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
}

    .lb-question-text select {
        margin: 0.5rem;
        border-radius: 0.3rem;
    }

    .lb-question-text input {
        display: inline;
        margin: 0.5rem;
        border-radius: 0.3rem;
        padding: 0rem 0.5rem;
        width: 10rem;
    }

/* ribbon */

.badge-ribbon {
    font-size : 3rem;
    height : 1.4em;
    position: relative;    
}

.badge-ribbon,
.badge-ribbon > * {    
    width: 1em;
    -moz-border-radius:    50%;
    -webkit-border-radius: 50%;
    border-radius:         50%;
}

    .badge-ribbon > * {    
        height: 1em;        
        top: 0px;
        left: 0px;
        position: absolute;
        background-color: white;
        border: 1px solid;
        z-index: 2;
    }

.badge-ribbon:before,
.badge-ribbon:after {
    content: '';
    position: absolute;
    border-bottom: 0.7em solid blue;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    top: 0.7em;
    left: -0.10em;
    -webkit-transform: rotate(-140deg);
    -moz-transform:    rotate(-140deg);
    -ms-transform:     rotate(-140deg);
    -o-transform:      rotate(-140deg);
    z-index: 1;
}

.badge-ribbon:after {
    left: auto;
    right: -0.10em;
    -webkit-transform: rotate(140deg);
    -moz-transform:    rotate(140deg);
    -ms-transform:     rotate(140deg);
    -o-transform:      rotate(140deg);
    z-index: 1;
}

    .badge-ribbon.position-1 > * {
        background-color : #DAA520;
        color : white;
        border: 0px;
    }

    .badge-ribbon.position-2 > *{
        background-color : #C0C0C0;
        color : white;
        border: 0px;
    }

    .badge-ribbon.position-3 > *{
        background-color : #B87333;
        color : white;
        border: 0px;
    }

/* empty or error panel*/
.lb-empty-message-panel {
    padding : 2rem;
    text-align : center;
}

/* watermark message */
.lb-message-watermark {
    background-color : whitesmoke;
    height : 1rem;
    width : 10rem;

    animation-name: lb-message-watermark-blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.lb-circle-watermark {
    background-color : whitesmoke;
    height : 5rem;
    width : 5rem;
    border-radius:50%;

    animation-name: lb-message-watermark-blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.lb-square-watermark {
    background-color : whitesmoke;
    height : 5rem;
    width : 5rem;

    animation-name: lb-message-watermark-blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


 @keyframes lb-message-watermark-blink {
	0% {
        opacity : 0.5;
	}
	50% {
        opacity : 1;
	}
    100% {
        opacity : 0.5;
    }
}

/* animate panel */

.lb-animation-panel {
    position : absolute;
    -webkit-transition-duration: 0.5s;
     transition-duration: 0.5s;
}

    .lb-animation-panel.lb-up.lb-up-add,
    .lb-animation-panel.lb-up-remove{
        /*-webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;*/
    }

    .lb-animation-panel.lb-up{
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }


/*---- opacity-in , opacity-out -----*/

.lb-opacity-in.ng-enter, .lb-opacity-out.ng-leave {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.lb-opacity-in.ng-enter, .lb-opacity-out.ng-leave {
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}

.lb-opacity-in.ng-enter {
    opacity: 0;
}

.lb-opacity-out.ng-leave-active {
    opacity: 0;
}

.lb-opacity-in.ng-enter-active {
    opacity: 1;
}


/* bootstrap modified or wrapper */

.label{
    display: inline-block;
    border-radius: 10rem;
    padding: .1em .6em .3em;
    font-size: 1.8rem;
}

.lb-square-label {
    border-radius: 0.5rem;
}

accordion .panel-heading,
accordion .panel-heading h4,
accordion .panel-heading h4 a {
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;     
    display: -webkit-flex;     
    display: flexbox;
    display: flex;

    flex-direction:row !important;
    -webkit-flex-direction: row !important;
	-webkit-box-orient:horizontal !important;
}

    accordion .panel-heading h4,
    accordion .panel-heading h4 a {
        flex:1;
        -webkit-flex:1;
        -webkit-box-flex:1;
    }

    accordion .panel-heading h4 {
      font-family: THAISANSLITE;
    }

    accordion .panel-group > .panel > .panel-heading {
        padding : 0rem;
        min-height : 5rem;
    }

    accordion .panel-group > .panel > .panel-heading h4 {
        font-size : 2rem;
    }

    accordion .panel-group > .panel > .panel-heading h4 a {
        padding : 1rem;
    }

    accordion .panel-group > .panel > .panel-heading h4 a:hover,
    accordion .panel-group > .panel > .panel-heading h4 a:focus {
        text-decoration : none;
    }

/* panel */

.lb-flat-panel.panel{
    border-radius : 0rem;
    margin : 1rem 0rem;
}

    .lb-flat-panel .panel-body{
        padding : 0rem;
        overflow: hidden;
    }

/* dropdown */

.lb-dropdown-wraper {
    position : relative;
}

.dropdown-menu{
    min-width: 15rem;
    padding : 0rem;
    color : black;
    overflow:hidden;
    right: 0px;
    left: inherit;
    border : 1px solid #CECECE;
}

    .dropdown-menu.left{
        right: inherit;
        left: 0px;
    }

    .dropdown-menu > li:not(.divider){
        font-size: 2rem;
        padding: 1rem 2rem;
        margin: 0rem;
    }

    .dropdown-menu > li.lb-header {
        min-height : 3rem;
        background-color: rgba(90,90,90,1);
        color: white; 
    }

    .dropdown-menu > li.lb-button {
        padding : 0rem;
    }

        .dropdown-menu > li.lb-button .md-button {
            padding: 1rem 1rem;
            color : black;
        }

.input-group-addon {
    font-size : 1em;
    width : 7rem;
}

select.form-control {
    font-size: 1em;
    padding: 0rem 1rem 0.5rem;
    border: 1px solid #ccc;
}

input[type="text"].form-control,
input[type="search"].form-control,
input[type="password"].form-control,
input[type="number"].form-control,
textarea.form-control {
  font-size: 1em;
  padding: 0.5rem 1rem 0rem;
  border: 1px solid #ccc;
}

/* video js modified ang wrapper */
.lb-video-js .vjs-control {
    font-size : inherit !important;
}

/* angular modified and wrapper */

.md-scroll-mask {
    z-index:0 !important;
}

md-autocomplete.lb-autocomplete-wrapper md-input-container > label:first-child{
    display : none;
}

md-autocomplete.lb-autocomplete-wrapper.md-input-invalid input,
md-autocomplete.lb-autocomplete-wrapper.md-input-invalid ng-message{
    border-color: rgb(244,67,54) !important;
}

md-autocomplete.lb-autocomplete-wrapper.md-input-invalid label {
    color : rgb(244,67,54) !important;
}

md-select.lb-select-wrapper-2 {
    max-width: 100%;
    padding : 0rem;
    margin-bottom : 0rem;
}

md-select.lb-select-wrapper-2 .md-select-label :first-child {
    flex-basis: auto;
    max-width: 100%;
}

md-select.lb-select-wrapper {
    padding : 0rem;
}

md-select-menu md-option .md-text {
    font-size : inherit;
}

md-select.lb-select-white-space-normal md-select-value :first-child {
    white-space: normal;
    padding: 0.5rem 0rem;
}

md-list.lb-list-wrapper {
    background-color : white;
}

.md-button {
    font-size : 2rem;
}

    .md-button.lb-button-wrapper {
        display : block;
    }

.md-button.lb-active,
.md-button.lb-active:hover {
    background-color: #46c7c7;
    color: white;
}

.md-button md-icon {
    /*margin : 0px;*/
}

md-input-container label {
    font-size : 2rem;
}

md-input-container .md-char-counter,
md-input-container [data-ng-message],
md-input-container [ng-message],
md-input-container [x-ng-message],
md-input-container data-ng-message,
md-input-container ng-message,
md-input-container x-ng-message {
    font-size : 1.5rem;
    line-height : 1;
}

md-card.lb-card-panel .lb-card-header {
    min-height : 5rem;
    padding : 1rem;
    border-bottom : 1px solid;
    border-color : #cecece;
}

    md-card.lb-card-panel .lb-card-header:not(:first-child) {
        border-top : 1px solid;
        border-color : #cecece;
    }

    md-card.lb-card-panel .lb-card-header + .lb-card-header {
        border-top : 0px;
    }

md-card.lb-card-panel > md-card-content {
    padding : 0.5rem 0.5rem;
    min-height : 5rem;
}

.md-sidenav-left .md-list-item-inner {
    padding-bottom : 1rem;
    padding-top : 1rem;
    min-height : 0rem;
}

.md-sidenav-left md-list-item {
    min-height : 0rem;
}

.md-sidenav-left .md-subheader-content {
    /*font-size : 2rem;*/
}

md-progress-linear.lb-progress-linear-wrapper .md-bar.md-bar2{
    background-color : #ffa62f;
}

md-progress-linear.lb-progress-linear-wrapper .md-container {
    background-color : #fff7ec;
}

md-progress-linear.lb-progress-linear-wrapper-gray .md-bar.md-bar2{
    background-color : #5A5A5A;
}

md-progress-linear.lb-progress-linear-wrapper-gray .md-container {
    background-color : #F5F5F5;
}

md-menu-content.lb-icon-md-menu-item .md-button i {
    width : 2rem;
    color : #5a5a5a;
    line-height: 36px;
    margin-right: 1rem;
    text-align: center;
}

md-menu-content.lb-icon-md-menu-item .md-button span {
    position: relative;
    top: -2px;
}

/* ionic modified and wrapper */

.slider-pager-page {
    font-size: 1rem;
}

/* mobile */

@media screen and (min-width: 0em) and (max-width: 48em) and (orientation:portrait) {


}

@media screen and (min-width: 0em) and (max-width: 48em) and (orientation:landscape) {


}

/* tablet */

@media screen and (min-width: 48em) and (max-width: 65em) {

}


/* desktop */

@media screen and (min-width: 65em) {

    .lb-menu-opened {
        display : block !important;
        -webkit-transform: translate3d(0%,0,0) !important;
        transform: translate3d(0%,0,0) !important;
    }

    .lb-main-panel:not(.lb-menu-panel):not(.lb-login-partial) > *:not(.lb-popup-panel):not(.lb-popup-open-menu) {
        position: relative;
        margin-right: 10rem;
        margin-left: 10rem;
        overflow: hidden;
        width: initial;
    }

    .lb-desktop-main-view .lb-main-panel:not(.lb-menu-panel):not(.lb-login-partial) {
        padding-left:304px;
    }

    .lb-main-panel:not(.lb-menu-panel):not(.lb-login-partial):not(.lb-create-account-partial):not(.lb-term-and-condition-partial):not(.lb-activate-acount-partial) {
        top: 1rem;
        bottom: 0rem;
        height: auto;
    }
}

@media screen and (min-width: 72em) {

    /*.lb-main-panel:not(.lb-menu-panel):not(.lb-login-partial) > *:not(.lb-popup-panel):not(.lb-popup-open-menu) {
        position: relative;
        width: 848px;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
    }*/

}

@media screen and (min-width: 80em) {

    /*.lb-main-panel:not(.lb-menu-panel):not(.lb-login-partial) > *:not(.lb-popup-panel):not(.lb-popup-open-menu) {
        position: relative;
        width: 900px;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
    }*/

}

@media screen and (min-width: 85em) {

    /*.lb-main-panel:not(.lb-menu-panel):not(.lb-login-partial) > *:not(.lb-popup-panel):not(.lb-popup-open-menu) {
        position: relative;
        width: 1056px;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
    }*/

}

@media screen and (min-width: 90em) {

    /*.lb-main-panel:not(.lb-menu-panel):not(.lb-login-partial) > *:not(.lb-popup-panel):not(.lb-popup-open-menu) {
        position: relative;
        width: 1136px;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
    }*/

}

@media screen and (min-width: 100em) {

    /*.lb-main-panel:not(.lb-menu-panel):not(.lb-login-partial) > *:not(.lb-popup-panel):not(.lb-popup-open-menu) {
        position: relative;
        width: 1296px;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
    }*/

}