.lt-summary-panel {
  width: 30%;
  height: 100%;
  background: #98DAC6;
}

.lt-summary-header {
  color: white;
  text-align: center;
  height: 3rem;
  width: 100%;
  line-height: 3rem;
}

.lb-summary-pictures {
  width: 100%;
}

.lt-summary-picture {
  width: auto;
  height: 3.2rem;
  margin: 5px;
  border-radius: 10%;
}

.lt-mouse-enter-pic {
  border: solid 1.5px #FEF7C0;
}

.lt-record-chapter-header {
  font-size: 1rem;
  text-align: right;
  margin-right: 2rem;
  border-bottom: dashed 2px #E5D629;
  padding-bottom: 4px;
}