<div class="lb-main-panel
             lb-template-003
             lt-template
             lb-flex-column
             lb-justify-start
             lb-scroll-y">
<!--   <md-toolbar class="md-whiteframe-z2
                     header
                     lb-flex-0">
  Andersen Group</md-toolbar> -->
  <div class="body
              lb-flex-row
              lb-flex-0">
    <div class="lt-game-background
                lb-flex-1
                lb-flex-basis-0
                lb-flex-column
                lb-align-center">
      <div class="lt-canvas-container
                  lb-flex-1
                  lb-flex-basis-0
                  lb-flex-column">
        <div class="lt-question-string
                    lb-flex-0"
             ng-bind="questionString">
        </div>
        <div class="lt-picture
                    lb-flex-row
                    lb-small-space
                    lb-flex-0
                    lb-flex-wrap
                    lb-justify-around">
          <img ng-repeat="choice in choices"
               src="../../images/game/{{choice.picture}}"
               is-correct="{{choice.isCorrect}}"
               class="lt-choices">
        </div>
      </div>
      <div class="lt-sound-canvas
                  lb-flex-column
                  lb-align-center
                  lb-small-space
                  lb-flex-0">
        <canvas id="analyser_render"></canvas>
        <audio id="myAudio"
           controls
           autoplay
           preload="auto"
           style="visibility: hidden; height: 0;"
           class="lb-flex-row
                  lb-align-center
                  lb-justify-center
                  lb-flex-0">
          <source id="myAudioSource" src="" type="audio/mp3">
        </audio>
        <md-button ng-click="updateMainAudioSource()"
                   class="lb-replay-button
                          lb-button-active"
                   ng-bind="btnReplay"></md-button>
      </div>
      <!-- text input -->
    <!--   <div class="lt-input-container
                  lb-flex-row
                  lb-align-center
                  lb-flex-0">
        <div class="lt-type-box
                    lb-flex-row
                    lb-align-center
                    lb-flex-1
                    lb-flex-basis-0">
          type box</div>
        <div class="lt-microphone-container
                    lb-flex-row
                    lb-align-center
                    lb-flex-0">
        <img ng-src="../../images/icons/microphone.jpg"
             class="lt-microphone-icon">
        </div>
      </div> -->
    </div>
    <div
          class="lt-summary-panel
                lb-flex-0
                lb-flex-column">
      <div class="lt-summary-header
                  lb-flex-0">
      History</div>
      <div ng-if="records.length == 0"
           class="lt-no-history">No History</div>
      <div ng-repeat="record in records">
        <div class="lt-record-chapter-header">
          Chapter {{ record.chapter }}</div>
        <div class="lb-summary-pictures
                    lb-flex-row
                    lb-flex-0
                    lb-flex-wrap
                    lb-justify-center
                    lb-align-start
                    ">
          <img ng-repeat="word in record.words"
               src="../../images/game/{{word.pic}}"
               class="lt-summary-picture
                      lb-flex-0"
               ng-click="playRecord(record.chapter, word.audio)">
        </div>
      </div>
    </div>
  </div>
</div>