
html {
    font-size: 62.5%;
    overflow : hidden;
}

body {
    position: absolute !important;
    top: 0rem !important;
    bottom: 0rem;
    font-size:2em;
    line-height:1.1;
    width:100%;    
    overflow: hidden;
    overflow-y : hidden !important;
    background-color : whitesmoke;    
}

body,
input,
button,
select,
textarea {
    font-family:THAISANSLITE, helvetica, arial, sans-serif;
    font-size : 2rem !important;
}

a {
    cursor : pointer;
}

*:not(input):not(textarea) {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none; 
}

.lb-content-selectabled * {
    -webkit-user-select: initial;  /* Chrome all / Safari all */
    -moz-user-select: all;     /* Firefox all */
    -ms-user-select: initial;
}

::-webkit-scrollbar {  
    width: 0rem;
    height:0rem;
}

.lb-font-larger {
    font-size : 4rem;
}

.lb-font-large {
    font-size : 3rem;
}

.lb-font-normal {
    font-size : 2rem;
}

.lb-font-small {
    font-size : 1.8rem;
}

.lb-font-bold{
    font-weight: bold;
}

.lb-no-margin{
    margin:0 !important;
}

.lb-no-padding{
    padding:0 !important;
}

.lb-text-align-center {
    text-align : center;
}

.lb-vertical-align-middle {
    vertical-align: middle;
}

.lb-full-height {
    height : 100%;
}

.lb-full-width {
    width : 100%;
}

.lb-display-inline {
    display : inline;
}

.lb-display-none {
    display : none;
}

.lb-visibility-hidden {
    visibility : hidden;
}

.lb-position-relative {
    position : relative;
}

.lb-no-text-transform {
    text-transform : none;
}

.lb-white-space-normal {
    white-space: normal;
}

.lb-white-space-nowrap {
    white-space:nowrap;
}

.lb-overflow-visible{
    overflow:visible !important;
}

.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.lb-transition-duration-300 {
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
}

.lb-scroll-y{
    overflow-x:hidden;
	overflow-y: auto !important;
	-webkit-overflow-scrolling: touch !important;
}

.lb-scroll-x{
    overflow-y:hidden;
    overflow-x: auto !important;
    margin-bottom : 0.5rem;
    -webkit-overflow-scrolling: touch !important;
}

    .lb-scroll-y > * ,
    .lb-scroll-x > *  {
		-webkit-transform: translateZ(0px) !important;
	}

.lb-text-overflow {
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.lb-text-overflow-multi-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;    
    -webkit-box-orient: vertical;
}

    .lb-text-overflow-multi-line.lb-line-1{
        -webkit-line-clamp: 1;
    }

    .lb-text-overflow-multi-line.lb-line-2{
        -webkit-line-clamp: 2;
    }


    .lb-text-overflow-multi-line.lb-line-3{
        -webkit-line-clamp: 3;
    }

    .lb-text-overflow-multi-line.lb-line-4{
        -webkit-line-clamp: 4;
    }

.lb-image-profile,
.lb-image-profile img {
    height : 6rem;
    width : 6rem;
}

    .lb-image-profile img {
        border-radius : 50%;
    }

.lb-secondary-font-color {
    color: #7F7F7F;
    /* grey */
}

.lb-bg-color-primary {
    background-color: #46c7c7 !important;
    color : white !important;
    /* jellyfish */
}

.lb-font-color-primary {
    color : #46c7c7 !important;
    /* jellyfish */
}

.lb-bg-color-accent  {
    background-color: #3ca99f !important;
    color : white !important;
    /* lightseagreen */
}

.lb-bg-color-accent-2  {
    background-color: #ffa62f !important;
    color : white !important;
    /* melon */
}

.lb-font-color-accent-2 {
    color : #ffa62f !important;
    /* melon */
}

.amp-timeline-marker {
    background-color: #ffa62f;
}

lb-bar-scales .lb-bar-scale > *.lb-bar-scale-100{
    background-color : #66ffb3;
}

lb-bar-scales .lb-bar-scale > *.lb-bar-scale-200 {
    background-color : #66ff66;
}

lb-bar-scales .lb-bar-scale > *.lb-bar-scale-300 {
    background-color : #ffa62f;
}

lb-bar-scales .lb-bar-scale > *.lb-bar-scale-400 {
    background-color : #FF8D8D;
}

lb-bar-scales .lb-bar-scale > *.lb-bar-scale-500 {
    background-color : #ff6666;
}

/* comodo ssl */
#cot_tl_fixed {
    z-index : 10;
}

    #cot_tl_fixed img {
        height : 4rem;
    }

#comodoTL {
    display : none;
}

.introjs-fixParent {
    position : relative !important;
}

/* recaptcha */
g-captcha > * {
    padding: 0.5rem;
    border: 1px solid #cecece;
    margin: 1rem auto;
    max-width: 30rem;
}

g-captcha #recaptcha_image,
g-captcha #recaptcha_challenge_image {
    width: 100% !important;
    height : auto !important;
}

g-captcha #recaptcha_image {
    border-bottom: 1px solid #cecece;
    text-align: center;
    padding-bottom: 0.5rem;
}

g-captcha #recaptcha_response_field {
    width : 100%;
}

/*input[type=search], input[type=text], input[type=password], input[type=datetime],
input[type=datetime-local], input[type=date], input[type=month], input[type=time],
input[type=week], input[type=number], input[type=email], input[type=url], input[type=tel],
input[type=color], textarea {
    border-color: rgba(0,0,0,0.12);
    border-width: 0 0 1px;
    border-style: inset;
}*/

@media screen and (orientation:portrait){

}

@media screen and (orientation:landscape){

}

/* mobile */

@media screen and (min-width: 0em) and (max-width: 47em) {

    #cot_tl_fixed {
        display : none;
    }

    .lb-xs-scroll-y{
        overflow-x:hidden;
	    overflow-y: scroll !important;
	    -webkit-overflow-scrolling: touch !important;
    }

    .lb-xs-scroll-x{
        overflow-y:hidden;
        overflow-x: scroll !important;
        margin-bottom : 0.5rem;
        -webkit-overflow-scrolling: touch !important;
    }

        .lb-xs-scroll-y > * ,
        .lb-xs-scroll-x > *  {
		    -webkit-transform: translateZ(0px) !important;
	    }

}

@media screen and (min-width: 0em) and (max-width: 47em) and (orientation:portrait)  {

    .lb-xs-portrait-scroll-y{
        overflow-x:hidden;
	    overflow-y: scroll !important;
	    -webkit-overflow-scrolling: touch !important;
    }

    .lb-xs-portrait-scroll-x{
        overflow-y:hidden;
        overflow-x: scroll !important;
        margin-bottom : 0.5rem;
        -webkit-overflow-scrolling: touch !important;
    }

        .lb-xs-portrait-scroll-y > * ,
        .lb-xs-portrait-scroll-x > *  {
		    -webkit-transform: translateZ(0px) !important;
	    }

}

@media screen and (min-width: 0em) and (max-width: 47em) and (orientation:landscape)  {

    .lb-xs-landscape-scroll-y{
        overflow-x:hidden;
	    overflow-y: scroll !important;
	    -webkit-overflow-scrolling: touch !important;
    }

    .lb-xs-landscape-scroll-x{
        overflow-y:hidden;
        overflow-x: scroll !important;
        margin-bottom : 0.5rem;
        -webkit-overflow-scrolling: touch !important;
    }

        .lb-xs-landscape-scroll-y > * ,
        .lb-xs-landscape-scroll-x > *  {
		    -webkit-transform: translateZ(0px) !important;
	    }

}

/* tablet */

@media screen and (min-width: 47em) and (max-width: 65em)  {

    .lb-sm-scroll-y{
        overflow-x:hidden;
	    overflow-y: scroll !important;
	    -webkit-overflow-scrolling: touch !important;
    }

    .lb-sm-scroll-x{
        overflow-y:hidden;
        overflow-x: scroll !important;
        margin-bottom : 0.5rem;
        -webkit-overflow-scrolling: touch !important;
    }

        .lb-sm-scroll-y > * ,
        .lb-sm-scroll-x > *  {
		    -webkit-transform: translateZ(0px) !important;
	    }

}

@media screen and (min-width: 47em) and (max-width: 65em) and (orientation:portrait)  { 


}

@media screen and (min-width: 47em) and (max-width: 65em) and (orientation:landscape)  { 


}

/* desktop */

@media screen and (min-width: 65em)  {

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.50);
        border-radius: 0.5rem;
    }

    ::-webkit-scrollbar {
        width: 0.75rem;
        height: 0.75rem;
    }

    .lb-md-scroll-y{
        overflow-x:hidden;
	    overflow-y: scroll !important;
	    -webkit-overflow-scrolling: touch !important;
    }

    .lb-md-scroll-x{
        overflow-y:hidden;
        overflow-x: scroll !important;
        margin-bottom : 0.5rem;
        -webkit-overflow-scrolling: touch !important;
    }

        .lb-md-scroll-y > * ,
        .lb-md-scroll-x > *  {
		    -webkit-transform: translateZ(0px) !important;
	    }

}

@media screen and (min-width: 65em) and (orientation:portrait)  {


}

@media screen and (min-width: 65em) and (orientation:landscape) {


}